body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.example-spacer {
  flex: 1 1 auto;
}

.top-bar-button {
  margin-left: 10px;
}

.name {
  padding: 5px;
  color: #5f139c;
  font-size: 24px;
  margin-left: 50px;
}